<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="get" action="/greet">
        <input type="text" name="username" placeholder="Input username">
        <input type="text" name="password" placeholder="Input password">
        <input type="text" name="email" placeholder="Input email">
        <button type="submit">send</button>
    </form>
</div>

</body>
</html>